/* Import Google font - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  min-height: 100vh;
  background: #eef5fe;
}

:root {
  --primary: #022278;
  --secondary: #86acd1;
}

@import url("~leaflet/dist/leaflet.css");
.leaflet-container {
  width: 100%;
  height: 80vh !important;
}

.card-registration .select-input.form-control[readonly]:not([disabled]) {
  font-size: 1rem;
  line-height: 2.15;
  padding-left: 0.75em;
  padding-right: 0.75em;
}
.card-registration .select-arrow {
  top: 13px;
}

ul.search-results {
  background: #fff;
  position: absolute;
  width: 557px;
  margin-top: 10px;
  padding: 5px;
  box-shadow: 1px 10px 30px -7px rgba(0, 0, 0, 0.75);
  border-radius: 12px;
  list-style: none;
}

.search-results li {
  border-bottom: 1px solid #737272;
  padding-bottom: 2px;
}

.search-results li a {
  color: #424242;
}

div#carouselMaterialStyle {
  height: 500px;
}

div#carouselMaterialStyle img {
  height: 500px;
  object-fit: cover;
  object-position: top center;
}

/*  */

#home {
  width: 100%;
  padding: 3rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

.home-left {
  height: 300px;
  position: relative;
}

.home-left img {
  height: 100%;
  border-radius: 10px;
}

.home-right {
  width: 50%;
}

.home-heading {
  font-size: 2rem;
  margin-bottom: 10px;
}

.home-para {
  margin-bottom: 20px;
}

.btn {
  text-decoration: none;
  color: black;
  font-weight: bold;
  position: relative;
  width: auto;
}

.btn:hover::after {
  content: "";
  height: 4px;
  position: absolute;
  background-color: var(--primary);
  left: 0;
  bottom: -10px;
  animation: width;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  border-radius: 5px;
}

@keyframes width {
  0% {
    width: 0%;
  }

  100% {
    width: 100%;
  }
}

#workFlow {
  width: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  text-align: center;
  margin-bottom: 4rem;
}

.heading {
  margin: 1rem auto;
  text-align: center;
}

.para {
  margin: 1rem auto;
}

.num-container {
  width: 70%;
  margin: 1rem auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.num-item {
  font-size: 1.5rem;
  line-height: 1.4rem;
  color: var(--primary);
}

/* Our Goal */
#goal {
  width: 80%;
  margin: 2rem auto;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
}

.goal-left {
  width: 60%;
  line-height: 2rem;
}

.goal-left h2 {
  font-size: 2.4rem;
}

.goal-left p {
  line-height: 1.5rem;
  margin: 1rem 0;
}

.goal-left ul {
  list-style: none;
  margin-bottom: 1rem;
}

.goal-left ul li::before {
  line-height: 1.5rem;
  content: "✓";
  color: red;
  padding-right: 3px;
}

.goal-right {
  position: relative;
  width: 35%;
}

.goal-right img {
  width: 100%;
  cursor: pointer;
  border-radius: 10px;
  filter: drop-shadow(3px 4px 5px black);
  transition: all 0.2s linear;
}

.goal-right img:hover {
  transform: translateY(-5px);
  filter: drop-shadow(5px 6px 7px black);
}

/* Our Team */
#our-Team {
  width: 80%;
  margin: 4rem auto 1rem;
}

#our-Team h2 {
  text-align: center;
  margin: 1rem auto 4rem;
  position: relative;
}

#our-Team h2::after {
  content: "";
  height: 4px;
  margin: 0 auto;
  text-align: center;
  width: 15%;
  background-color: var(--primary);
  position: absolute;
  left: 50%;
  bottom: -10px;
  border-radius: 5px;
  transform: translate(-50%);
}

.teamContainer {
  width: 70%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.team-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0.5rem;
}

.team-item h5 {
  margin-top: 1rem;
  font-size: 1.1rem;
}

.team-item span {
  margin-top: 0.4rem;
  font-weight: bold;
  text-transform: uppercase;
  color: var(--primary);
}

.team-item img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
  object-position: top left;
}

.navbar {
  z-index: 999;
  box-shadow: none;
}

/* sidebaer dashboard */

/* Sidebar */
.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  padding: 58px 0 0; /* Height of navbar */
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 5%), 0 2px 10px 0 rgb(0 0 0 / 5%);
  width: 240px;
  z-index: 600;
}

@media (max-width: 991.98px) {
  .sidebar {
    width: 100%;
  }
}
.sidebar .active {
  border-radius: 5px;
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: 0.5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

a.list-group-item.list-group-item-action.py-2.ripple {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

a.list-group-item.list-group-item-action.py-2.ripple span {
  display: flex;
  align-items: center;
  justify-content: center;
}

main {
  margin-left: 240px;
}

.modal {
  display: flex !important;
  align-items: center;
  justify-content: center;
  opacity: 1 !important;
  background: #00000073;
}

.modal .modal-dialog {
  width: 100%;
  margin: 0;
}

.btn-link,
.btn-link:first-child:hover,
.btn-link:focus-visible,
.btn-link:hover,
:not(.btn-check) + .btn-link:hover {
}

.card-counter {
  box-shadow: 2px 2px 10px #dadada;
  margin: 5px;
  padding: 20px 10px;
  background-color: #fff;
  height: 100px;
  border-radius: 5px;
  transition: 0.3s linear all;
  position: relative;
}

.card-counter:hover {
  box-shadow: 4px 4px 20px #dadada;
  transition: 0.3s linear all;
}

.card-counter.primary {
  background-color: #007bff;
  color: #fff;
}

.card-counter.danger {
  background-color: #ef5350;
  color: #fff;
}

.card-counter.success {
  background-color: #66bb6a;
  color: #fff;
}

.card-counter.info {
  background-color: #26c6da;
  color: #fff;
}

.card-counter i {
  font-size: 5em;
  opacity: 0.2;
}

.card-counter .count-numbers {
  position: absolute;
  right: 35px;
  top: 20px;
  font-size: 32px;
  display: block;
}

.card-counter .count-name {
  position: absolute;
  right: 35px;
  top: 65px;
  font-style: italic;
  text-transform: capitalize;
  opacity: 0.5;
  display: block;
  font-size: 18px;
}


.btn:hover::after{
  background-color: transparent;
}

a.btn.btn-link{
  background-color: var(--mdb-btn-hover-bg);
  border-color: var(--mdb-btn-hover-border-color);
}




/* Pre css */
.flex {
  display: flex;
  align-items: center;
}
.nav_image {
  display: flex;
  min-width: 55px;
  justify-content: center;
}
.nav_image img {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  object-fit: cover;
}

.nav_image_logo img{
  width: 120px;
}

/* Sidebar */
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 270px;
  background: #fff;
  padding: 15px 10px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
  transition: all 0.4s ease;
}
.sidebar.close {
  width: calc(55px + 20px);
}
.logo_items {
  gap: 8px;
}
.logo_name {
  font-size: 22px;
  color: #333;
  font-weight: 500px;
  transition: all 0.3s ease;
}
.sidebar.close .logo_name,
.sidebar.close #lock-icon,
.sidebar.close #sidebar-close {
  opacity: 0;
  pointer-events: none;
}
#lock-icon,
#sidebar-close {
  padding: 10px;
  color: #4070f4;
  font-size: 25px;
  cursor: pointer;
  margin-left: -4px;
  transition: all 0.3s ease;
}
#sidebar-close {
  display: none;
  color: #333;
}
.menu_container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 40px;
  overflow-y: auto;
  height: calc(100% - 82px);
}
.menu_container::-webkit-scrollbar {
  display: none;
}
.menu_title {
  position: relative;
  height: 50px;
  width: 55px;
}
.menu_title .title {
  margin-left: 15px;
  transition: all 0.3s ease;
}
.sidebar.close .title {
  opacity: 0;
}
.menu_title .line {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  height: 3px;
  width: 20px;
  border-radius: 25px;
  background: #aaa;
  transition: all 0.3s ease;
}
.menu_title .line {
  opacity: 0;
}
.sidebar.close .line {
  opacity: 1;
}
.item {
  list-style: none;
}
.link {
  text-decoration: none;
  border-radius: 8px;
  margin-bottom: 8px;
  color: #707070;
}
.link:hover {
  color: #fff;
  background-color: #4070f4;
}
.link span {
  white-space: nowrap;
}
.link i {
  height: 50px;
  min-width: 55px;
  display: flex;
  font-size: 22px;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
}

.sidebar_profile {
  padding-top: 15px;
  margin-top: 15px;
  gap: 15px;
  border-top: 2px solid rgba(0, 0, 0, 0.1);
}
.sidebar_profile .name {
  font-size: 18px;
  color: #333;
}
.sidebar_profile .email {
  font-size: 15px;
  color: #333;
}

.sidebar ul{
  padding: 0;
}

/* Navbar */
.navbar {
  max-width: 700px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 60%;
  transform: translateX(-50%);
  background: #fff;
  padding: 10px 20px;
  border-radius: 0 0 8px 8px;
  justify-content: space-between;
}
#sidebar-open {
  font-size: 30px;
  color: #333;
  cursor: pointer;
  margin-right: 20px;
  display: none;
}
.search_box {
  height: 46px;
  max-width: 500px;
  width: 100%;
  border: 1px solid #aaa;
  outline: none;
  border-radius: 8px;
  padding: 0 15px;
  font-size: 18px;
  color: #333;
}
.navbar .navbar-profile-img {
  height: 40px !important;
  width: 40px;
  margin-left: 20px;
  object-fit: cover;
}

/* Responsive */
@media screen and (max-width: 1100px) {
  .navbar {
    left: 65%;
  }
}
@media screen and (max-width: 800px) {
  .sidebar {
    left: 0;
    z-index: 1000;
  }
  .sidebar.close {
    left: -100%;
  }
  #sidebar-close {
    display: block;
  }
  #lock-icon {
    display: none;
  }
  .navbar {
    left: 0;
    max-width: 100%;
    transform: translateX(0%);
  }
  #sidebar-open {
    display: block;
  }
}


/* loading screen css */
.loading-screen {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.loading-screen.visible {
  display: flex;
}

.loading-screen.hidden {
  display: none;
}

.loading-spinner {
  border: 6px solid #f3f3f3;
  border-top: 6px solid #3498db;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
  margin-bottom: 10px;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.main-content {
  margin-top: 100px;
}

/* custom order btn */

.btn-custom {
  background: no-repeat;
  border: none;
  font-size: 25px;
}

/* chat */

#chat4 .form-control {
  border-color: transparent;
}

#chat4 .form-control:focus {
  border-color: transparent;
  box-shadow: inset 0px 0px 0px 1px transparent;
}

.divider:after,
.divider:before {
  content: "";
  flex: 1;
  height: 1px;
  background: #eee;
}

.chat-app {
  position: fixed;
  top: 220px;
  right: 10px;
  width: 430px;
  z-index: 9999;
}


.chat-app-close-icon {
  margin-top: 20px;
  font-size: 20px;
  right: 10px;
  position: absolute;
  top: -70px;
  background: red;
  width: 35px;
  border-radius: 50%;
  color: #fff;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  cursor: pointer;
}

.chat-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Adjust the opacity by changing the last value (0.5) */
  z-index: 999; /* Ensure it's above other elements */
}