.half,
.half .container > .row {
  /* height: 120vh; */
  min-height: 700px;
}

.login-page-row {
  height: 100vh;
}
@media (max-width: 991.98px) {
  .half .bg {
    height: 200px;
  }
}

.half .contents {
  background: #f6f7fc;
}

.half .contents,
.half .bg {
  width: 50%;
}
@media (max-width: 1199.98px) {
  .half .contents,
  .half .bg {
    width: 100%;
  }
}
.half .contents .form-control,
.half .bg .form-control {
  border: none;
  -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  height: 54px;
  background: #fff;
}
.half .contents .form-control:active,
.half .contents .form-control:focus,
.half .bg .form-control:active,
.half .bg .form-control:focus {
  outline: none;
  -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
}

.half .bg {
  background-size: cover;
  background-position: center;
}

.half a {
  color: #888;
  text-decoration: underline;
}

.half .btn {
  height: 54px;
  padding-left: 30px;
  padding-right: 30px;
}

.half .forgot-pass {
  position: relative;
  top: 2px;
  font-size: 14px;
}

.control {
  display: block;
  position: relative;
  padding-left: 30px;
  margin-bottom: 15px;
  cursor: pointer;
  font-size: 14px;
}
.control .caption {
  position: relative;
  top: 0.2rem;
  color: #888;
}

.control input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.control__indicator {
  position: absolute;
  top: 2px;
  left: 0;
  height: 20px;
  width: 20px;
  background: #e6e6e6;
  border-radius: 4px;
}

.control--radio .control__indicator {
  border-radius: 50%;
}

.control:hover input ~ .control__indicator,
.control input:focus ~ .control__indicator {
  background: #ccc;
}

.control input:checked ~ .control__indicator {
  background: #fb771a;
}

.control:hover input:not([disabled]):checked ~ .control__indicator,
.control input:checked:focus ~ .control__indicator {
  background: #fb8633;
}

.control input:disabled ~ .control__indicator {
  background: #e6e6e6;
  opacity: 0.9;
  pointer-events: none;
}

.control__indicator:after {
  font-family: "icomoon";
  content: "\e5ca";
  position: absolute;
  display: none;
  font-size: 16px;
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
}

.control input:checked ~ .control__indicator:after {
  display: block;
  color: #fff;
}

.control--checkbox .control__indicator:after {
  top: 50%;
  left: 50%;
  margin-top: -1px;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.control--checkbox input:disabled ~ .control__indicator:after {
  border-color: #7b7b7b;
}

.control--checkbox input:disabled:checked ~ .control__indicator {
  background-color: #7e0cf5;
  opacity: 0.2;
}

.aon-bnr2-search-bar {
  background-color: #022279;
  padding: 20px;
  color: #fff;
}

.register-col {
  padding: 40px 0;
}

.register-section {
  height: auto;
}

.labour-home-section .col-md-6 {
  max-width: 100%;
}

.chat {
  list-style: none;
  margin: 0;
  padding: 0;
}

.chat li {
  margin-bottom: 10px;
  padding-bottom: 5px;
  border-bottom: 1px dotted #b3a9a9;
}

.chat li.left .chat-body {
  margin-left: 60px;
}

.chat li.right .chat-body {
  margin-right: 60px;
}

.chat li .chat-body p {
  margin: 0;
  color: #777777;
}

.panel .slidedown .glyphicon,
.chat .glyphicon {
  margin-right: 5px;
}

.panel-body {
  overflow-y: scroll;
  height: 250px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f5f5f5;
}

::-webkit-scrollbar {
  width: 12px;
  background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #555;
}

.aon-categories-area2-iconbox.aon-icon-effect.sub-categories {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px 5px;
}

.aon-categories-area2-iconbox.aon-icon-effect.sub-categories
  .aon-cate-area2-icon {
  width: auto;
}

.aon-categories-area2-iconbox.aon-icon-effect.sub-categories
  .aon-cate-area2-content {
  padding-top: 10px;
}

@media (min-width: 1025px) {
  .h-custom {
    height: 100vh !important;
  }
}

/* orders tracker */

.track-line {
  height: 2px !important;
  background-color: #ff0000;
  opacity: 1;
}

.dot {
  height: 10px;
  width: 10px;
  margin-left: 3px;
  margin-right: 3px;
  margin-top: 0px;
  background-color: #ff0000;
  border-radius: 50%;
  display: inline-block;
}

.big-dot {
  height: 25px;
  width: 25px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  background-color: #ff0000;
  border-radius: 50%;
  display: inline-block;
}

.green-color {
  background-color: #488978;
}

.big-dot i {
  font-size: 12px;
}

.card-stepper {
  z-index: 0;
}

.navbar-profile-img-btn-dropdown {
  background: none !important;
  border: none !important;
  padding: 0px !important;
  outline: none !important;
  box-shadow: none !important;
}

.navbar-profile-img-btn-dropdown:after {
  display: none !important;
}

.navbar-profile-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  padding: 5px;
}

.navbar-city-field {
  width: 100%;
}

.navbar-search-field {
  width: 460px !important;
}

ul.search-results {
  background: #fff;
  position: absolute;
  width: 92%;
  margin-top: 10px;
  padding: 5px;
  box-shadow: 1px 10px 30px -7px rgba(0, 0, 0, 0.75);
  border-radius: 12px;
  list-style: none;
  z-index: 999;
}

.search-results li {
  border-bottom: 1px solid #737272;
  color: #000;
}

.location-input-get-location {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}

/* Add this to your CSS */
/* #reviewModal,
#complainModal {
  z-index: 1051; 
  display: block;ds
  opacity: 1;
} */

/* .modal-backdrop.show {
  opacity: 0;
} */

/*  Open Modal  */
.modal {
  display: flex !important;
  align-items: center;
  justify-content: center;
  opacity: 1 !important;
  background: #00000073;
}

.modal .modal-dialog {
  width: 100%;
  margin: 0;
}

#carouselExampleIndicators .carousel-inner .carousel-item img {
  border-radius: 12px;
}

.gallery-image {
  border-radius: 12px;
  width: 150px;
  height: 300px;
  object-fit: cover;
  position: relative;
}

.gallery-image::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #000;
  z-index: 999;
}

.banner-img {
  height: 600px;
  width: 100%;
  object-fit: cover;
}

/* chat */

#chat4 .form-control {
  border-color: transparent;
}

#chat4 .form-control:focus {
  border-color: transparent;
  box-shadow: inset 0px 0px 0px 1px transparent;
}

.divider:after,
.divider:before {
  content: "";
  flex: 1;
  height: 1px;
  background: #eee;
}

.chat-app {
  position: fixed;
  top: 220px;
  right: 10px;
  width: 430px;
  z-index: 9999;
}

.chat-app-close-icon {
  margin-top: 20px;
  font-size: 20px;
  right: 10px;
  position: absolute;
  top: -70px;
  background: red;
  width: 35px;
  border-radius: 50%;
  color: #fff;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  cursor: pointer;
}

.chat-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(
    0,
    0,
    0,
    0.5
  ); /* Adjust the opacity by changing the last value (0.5) */
  z-index: 999; /* Ensure it's above other elements */
}

/* faq */
.section_padding_130 {
  padding-top: 100px;
  padding-bottom: 100px;
}
.faq_area {
  position: relative;
  z-index: 1;
  background-color: #f5f5ff;
}

.faq-accordian {
  position: relative;
  z-index: 1;
}
.faq-accordian .card {
  position: relative;
  z-index: 1;
  margin-bottom: 1.5rem;
}
.faq-accordian .card:last-child {
  margin-bottom: 0;
}
.faq-accordian .card .card-header {
  background-color: #ffffff;
  padding: 0;
  border-bottom-color: #ebebeb;
}
.faq-accordian .card .card-header h6 {
  cursor: pointer;
  padding: 1.75rem 2rem;
  color: #3f43fd;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -ms-grid-row-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.faq-accordian .card .card-header h6 span {
  font-size: 1.5rem;
}
.faq-accordian .card .card-header h6.collapsed {
  color: #070a57;
}
.faq-accordian .card .card-header h6.collapsed span {
  -webkit-transform: rotate(-180deg);
  transform: rotate(-180deg);
}
.faq-accordian .card .card-body {
  padding: 1.75rem 2rem;
}
.faq-accordian .card .card-body p:last-child {
  margin-bottom: 0;
}

@media only screen and (max-width: 575px) {
  .support-button p {
    font-size: 14px;
  }
}

.support-button i {
  color: #3f43fd;
  font-size: 1.25rem;
}
@media only screen and (max-width: 575px) {
  .support-button i {
    font-size: 1rem;
  }
}

.support-button a {
  text-transform: capitalize;
  color: #2ecc71;
}
@media only screen and (max-width: 575px) {
  .support-button a {
    font-size: 13px;
  }
}

/* notification page */
.notification-ui_dd-content {
  margin-bottom: 30px;
}

.notification-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 20px;
  margin-bottom: 7px;
  background: #fff;
  -webkit-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.06);
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.06);
}

.notification-list--unread {
  border-left: 2px solid #29b6f6;
}

.notification-list .notification-list_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.notification-list .notification-list_content .notification-list_img img {
  height: 48px;
  width: 48px;
  border-radius: 50px;
  margin-right: 20px;
}

.notification-list .notification-list_content .notification-list_detail p {
  margin-bottom: 5px;
  line-height: 1.2;
}

.notification-list .notification-list_feature-img img {
  height: 48px;
  width: 48px;
  border-radius: 5px;
  margin-left: 20px;
}

/* contact form */

/* service listing banner  */

.carousel-item img {
  height: 460px !important;
}

/* popular category */
.aon-categories-area2-iconbox img{
  width: 100px;
  height: 100px;
  object-fit: cover;
}